# Import Package

In [43]:
import pandas as pd

# DATASET 1

Women's E-commerce clothing reviews
23,000 customers reviews and ratings. 

The purpose of this dataset is to find which clothing pieces sell out the most and understanding the metrics behind that to improve business.
https://www.kaggle.com/nicapotato/womens-ecommerce-clothing-reviews

In [30]:
Data1 = pd.read_csv(r"C:/Users/shrba/Desktop/ml/A11.csv")

In [38]:
Data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

# DATASET 2

The purpose of this dataset is to find the impacts of climate change in Australia and the effects of temperature change on rainfall.

https://www.kaggle.com/jsphyg/weather-dataset-rattle-package

In [22]:
Data2 = pd.read_csv(r"C:/Users/shrba/Desktop/ml/A22.csv")

In [39]:
Data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

# DATASET 3

Daily and total vaccinations for Covid-19 in the world

The purpose of this dataset is to find out the total number of people who have been vaccinated and other data related metrics relating to vaccination around the world.

https://www.kaggle.com/gpreda/covid-world-vaccination-progress

In [ ]:
Data3 = pd.read_csv(r"C:/Users/shrba/Desktop/ml/A33.csv")

In [40]:
Data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5321 entries, 0 to 5320
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              5321 non-null   object
 1   iso_code                             4989 non-null   object
 2   date                                 5321 non-null   object
 3   total_vaccinations                   3384 non-null   float64
 4   people_vaccinated                    2990 non-null   float64
 5   people_fully_vaccinated              2039 non-null   float64
 6   daily_vaccinations_raw               2845 non-null   float64
 7   daily_vaccinations                   5137 non-null   float64
 8   total_vaccinations_per_hundred       3384 non-null   float64
 9   people_vaccinated_per_hundred        2990 non-null   float64
 10  people_fully_vaccinated_per_hundred  2039 non-null   float64
 11  daily_vaccinations_per_million       5137 non-null   float64
 12  vaccines                             5321 non-null   object
 13  source_name                          5315 non-null   object
 14  source_website                       5321 non-null   object
dtypes: float64(9), object(6)
memory usage: 623.7+ KB

# DATASET 4

Top 250 restaurant business in 2020

This dataset will help to get information about the top 250 restaurants in business for the year of 2020 which can help to find out the month and year analysis to understand the impacts of Covid-19 in restaurant business.

https://www.kaggle.com/michau96/restaurant-business-rankings-2020

In [28]:
Data4 = pd.read_csv(r"C:/Users/shrba/Desktop/ml/A44.csv")

In [41]:
Data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              250 non-null    int64
 1   Restaurant        250 non-null    object
 2   Content           33 non-null     object
 3   Sales             250 non-null    int64
 4   YOY_Sales         250 non-null    object
 5   Units             250 non-null    int64
 6   YOY_Units         250 non-null    object
 7   Headquarters      52 non-null     object
 8   Segment_Category  250 non-null    object
dtypes: int64(3), object(6)
memory usage: 17.7+ KB

# DATASET 5

Coronavirus tweets NLP - Text classification

Text Classification on dataset.

In this dataset, The tweets have been pulled from Twitter and manual tagging has been done then. The names and usernames have been given codes to avoid any privacy concerns. It has been used for text classification and analysis on Covid responses on Twitter.

https://www.kaggle.com/datatattle/covid-19-nlp-text-classificationRain in Australia

In [36]:
Data5 = pd.read_csv(r"C:/Users/shrba/Desktop/ml/A55.csv")

In [42]:
Data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       3798 non-null   int64
 1   ScreenName     3798 non-null   int64
 2   Location       2964 non-null   object
 3   TweetAt        3798 non-null   object
 4   OriginalTweet  3798 non-null   object
 5   Sentiment      3798 non-null   object
dtypes: int64(2), object(4)
memory usage: 178.2+ KB